{% extends "base.html" %}

{% block content %}
{% include "topnav.html" %}


{% if sellers ==0 %}
<h1>
    All Product Reviews for  {{name}} 
</h1>
{% endif %}

{% if sellers ==1 %}
<h1>
    All Seller Reviews for  {{name}} 
</h1>
{% endif %}

<form action="" method="post">
  <label >Sort by:</label>
  <select name="sort" >
    <option value="time">default</option>
    <option value="ratings">Ratings</option>
    <option value="time">Time</option>
    <option value="positive">positive reviews only</option>
    <option value="negative">negative reviews only</option>
  </select>
  {{ selector.go() }}  
  
</br>
</form>

{% for review in reviews%}

<div style=" height:40px; width:40px; display: inline;">

    <img src = "/static/images/avatar.webp"  style="width:40px; height:40px;">
    <h4 >{{name}} </h4>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% for rat in range(review.rating|int)%}
    <span class="fa fa-star" style="color: orange;"></span>
    {% endfor %}
    {% for rat in range(5-review.rating|int)%}
    <span class="fa fa-star"></span>
    {% endfor %}
    {% if sellers == 0 %}

    <h5 style="display: inline-block;"><a href="{{ url_for('products.viewProduct', product_id = review.pid)}}">{{review.product_name[0:]}}</a> </h5>
    {% endif %}
    {% if sellers == 1 %}
    
    <h5 style="display: inline-block;"></h5><a href="{{ url_for('users.sellerPage', uid = review.pid) }}">{{review.fname }} {{review.lname}}</a> </h5>
    {% endif %}

</div>


  <p id="review_{{review.uid}}"> {{review.review}}</p>
  
  <div style= "text-align: inline;">
    {% if  current_user.id == review.uid %}
    <div style="display: flex; justify-content: center;" >
    <form  action="" method="post">
      <p> {{ delete_.delete() }}  {{ edit_.edit() }}</p>
      {% if sellers == 0 %}
      <p style="display: None;">{{delete_.product_id(value= review.pid )}}</p> 
      <p  style="display: None;">{{edit_.product_name(value= review.product_name )}}</p>
      <p  style="display: None;">{{edit_.product_id(value= review.pid )}}</p>      
      {% endif %}
      {% if sellers == 1 %}
      <p style="display: None;">{{delete_.seller_id(value= review.pid )}}</p> 
      <p  style="display: None;">{{edit_.product_name(value= review.fname + " "+review.lname )}}</p>
      <p  style="display: None;">{{edit_.seller_id(value= review.pid )}}</p>      
      {% endif %}
    </form>

    
    
  </div>
    
</div>

{% if current_user.is_authenticated and current_user.id==review.uid %}
<div id = "edit_flash {{review.pid}}" style="display: None;">

<h3>Update Review for {{edit_.product_name.data}}</h3>
<form action="" method="post">
  {{ form.hidden_tag() }}
  {% if sellers == 0 %}
  <p  style="display: None;">{{form.product_id(value= edit_.product_id.data )}}</p>
  {% endif %}
  {% if sellers == 1 %}
  <p  style="display: None;">{{form.seller_id(value= edit_.seller_id.data )}}</p>
  {% endif %}
  <p>
    {{ form.review.label }}<br/>
    {{ form.review(size=32) }}<br/>
    {% for error in form.review.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.rating.label }}<br/>
    {{ form.rating(size=32) }}<br/>
    {% for error in form.rating.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </p>
  <p>{{ form.submit() }}</p>
</form>
{% endif %}  
</div>


    <script>
      function show() {
        var x = document.getElementById("edit_flash {{review.pid}}");
        var up = document.getElementById("select_up");
        if  ("{{edit_.product_name.data}}" === "None" ) {
        x.style.display = "None";
        up.style.display = "block";
        }
        else if  (x.style.display === "none" ) {
        x.style.display = "block";
        up.style.display = "None";
        } else   {
          x.style.display = "None";
          up.style.display = "None";
        };
  
      };
      </script>
    {% endif %}


{% endfor %}

{% if current_user.id== buyer_id_ %}
<button onclick="show()">Show/Hide update form</button>
{% endif %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <p id="select_up" style="display: none;" >Select a product first before updating</p>




    {% endblock %}